{% extends 'app/layouts/default.html' %}

{% block content %}
{% load user_tags %}
{% load static %}
{% load crispy_forms_tags %}

{% if user|user_belongs_to_group:'chef_family' %}
<button onclick="window.location.href='{% url 'add_family_member' %}'" class="btn btn-outline-primary mb-2"><i
        class="bi bi-plus">Ajouter membre</i></button>
{% endif %}
{% comment %} {% if messages %}
{% for message in messages %}
<p class="alert alert-success w-100 h-100">{{ message }} </p>
{% endfor %}
{% endif %} {% endcomment %}
{% if messages %}
{% for message in messages %}
<div id="myAlert" class="alert alert-success alert-dismissible" role="alert">
    <i class="fas fa-check-circle me-1"></i>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

{% if persons_list %}

<section class="section">
    <div class="row">
        {% if user|user_belongs_to_group:'chef_family' %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{page_title}}</h5>

                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID MENAGE</th>
                                <th scope="col">NOM</th>
                                <th scope="col">PRENOM</th>
                                <th scope="col">NR CARTE ID</th>
                                <th scope="col">CHEF DE MENAGE</th>
                                <th scope="col">CHEF DE QUARTIER</th>

                                <th scope="col">PHOTO</th>
                                <th scope="col">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for family_member in persons_list %}
                            <tr class="align">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ family_member.menage.id }}</td>
                                <td>{{ family_member.nom }}</td>
                                <td>{{ family_member.prenom }}</td>
                                <td>{{ family_member.numero_carte_id }}</td>
                                <td>
                                    {% if family_member.est_verifie_par_chef_de_menage %}
                                    <img src="{% static 'app/img/icon-yes.svg' %}" alt="">
                                    {% else %}
                                    <img src="{% static 'app/img/icon-no.svg' %}" alt="">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if family_member.est_verifie_par_chef_de_quartier %}
                                    <img src="{% static 'app/img/icon-yes.svg' %}" alt="">
                                    {% else %}
                                    <img src="{% static 'app/img/icon-no.svg' %}" alt="">
                                    {% endif %}
                                </td>

                                <td>
                                    {% if family_member.photo %}
                                    <img src="{{ family_member.photo.url }}" alt="family member" height="50"
                                        width="auto">
                                    {% else %}
                                    <h6 class="text-danger">pas de photo</h6>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'edit_family_member' family_member.id %}"
                                        style="margin-right: 30px;"><i class="bi bi-pencil"></i></a>
                                    {% if user|user_belongs_to_group:'chef_family' %}
                                    <a href="{% url 'delete_family_member' family_member.id %}"
                                        onclick="return confirm('Voulez-vous vraiment supprimer ?')"><i
                                            class="bi bi-trash text-danger"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% for household in households_list %}
        <div class="card m-3" style="width: 22rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title credits">Menage : {{household.designation}}</h5>
                <p class="card-text"><strong>Province : </strong>{{household.province.province}}</p>
                <p class="card-text"><strong>Commune : </strong>{{household.commune.commune}}</p>
                <p class="card-text"><strong>Zone : </strong>{{household.zone.zone}}</p>
                <p class="card-text"><strong>Quartier : </strong>{{household.quartier.quartier}}</p>
                <div class="row">
                    <button type="button" class="btn btn-success" onclick="loadPersons({{ household.id }})"
                        data-bs-toggle="modal" data-bs-target="#personsModal">
                        <i class="bi bi-eye"></i> Voir les détails
                    </button>
                    <a href="" type="button" class="btn btn-primary mt-3">
                        <i class="bi bi-card-checklist"></i> Vérifier les membres
                    </a>

                </div>

            </div>
        </div>
        {% endfor %}

        <!-- Modal -->
        <div class="modal fade" id="personsModal" tabindex="-1" role="dialog" aria-labelledby="personsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="personsModalLabel">Personne dans le ménage</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="overflow-y: auto;">
                        <ul id="personsList"></ul>
                    </div>
                </div>
            </div>
        </div>


</section>


{% else %}
<p class="text-center text-danger" style="font-size: 20px; line-height: 1.5;">PAS DE MEMBRE ENREGISTRES</p>
{% endif %}

<script>

    var alertElement = document.getElementById('myAlert');
    setTimeout(function () {
        alertElement.classList.add('fade');
        alertElement.classList.add('show');
        setTimeout(function () {
            alertElement.remove();
        }, 1500);
    }, 2000);

    function loadPersons(householdId) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/load-persons/' + householdId + '/');
        xhr.onload = function () {
            if (xhr.status === 200) {
                var personsList = document.getElementById('personsList');
                personsList.innerHTML = xhr.responseText;
                var modal = new bootstrap.Modal(document.getElementById('personsModal'), { backdrop: 'static', keyboard: false });
                modal.show(); // Show the modal

                var closeButton = document.querySelector('#personsModal .btn-close');
                closeButton.addEventListener('click', function () {
                    location.reload(); // Reload the page
                });
            }
        };
        xhr.send();
    }

</script>

{% endblock %}