{% extends 'app/layouts/default.html' %}

{% block content %}

<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Créer un compte de chef de famille</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Avec ce compte le chef de famille pourra se connecter à son compte et gérer les
                        differentes informations
                        des membres de sa famille ainsi que les visiteurs dans sa menage</p>
                    <a href="{% url 'new_account_chef_family' %}" class="btn btn-outline-primary mr-2"> <i
                            class="bi bi-save"></i> Nouveau compte</a>
                    {% endif %}
                    <a href="{% url 'account_overview_chef_family' %}" class="btn btn-outline-primary"> <i
                            class="bi- bi-eye"></i> Voir les comptes créées</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Créer un compte de chef de quartier</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Avec ce compte le chef de quartier pourra se connecter et voir les menages dans
                        son propres quartiers et valider les membres et visiteurs de chaque menages</p>
                    {% if user|user_belongs_to_group:'chef_family' %}
                    <a href="{% url 'new_account_chef_quarter' %}" class="btn btn-outline-primary mr-2"> <i
                            class="bi bi-save"></i> Nouveau compte</a>
                    {% endif %}
                    <a href="{% url 'account_overview_chef_quarter' %}" class="btn btn-outline-primary"> <i
                            class="bi- bi-eye"></i> Voir les comptes créées</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}