<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Tableau de bord</span>
      </a>
    </li>

    <li class="nav-heading">GESTION MENAGE</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'view_profession' %}">
        <i class="bi bi-journal-text"></i>
        <span>Profession</span>
      </a>
    </li>
    

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Addresse</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'view_province' %}">
            <i class="bi bi-circle"></i><span>Province</span>
          </a>
        </li>
        <li>
          <a href="{% url 'view_commune' %}">
            <i class="bi bi-circle"></i><span>Commune</span>
          </a>
        </li>
        <li>
          <a href="{% url 'view_zone' %}">
            <i class="bi bi-circle"></i><span>Zone</span>
          </a>
        </li>
        <li>
          <a href="{% url 'view_quartier' %}">
            <i class="bi bi-circle"></i><span>Quartier</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

</aside>