<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="{% url 'dashboard'%}">
        <i class="bi bi-grid"></i>
        <span>Tableau de bord</span>
      </a>
    </li>

    <li class="nav-heading">GESTION APPLICATION</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'type_account_overview' %}">
        <i class="bi bi-people"></i>
        <span>COMPTES</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'view_household' %}">
        <i class="bi bi-house-door"></i>
        <span>MENAGES</span>
      </a>
    </li>

    
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'family_visitor_overview' %}">
        <i class="bi bi-people"></i>
        <span>FAMILLE/VISITEURS</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>ADDRESSE</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'view_province' %}">
            <i class="bi bi-circle"></i><span>Province</span>
          </a>
        </li>
        <li>
          <a href="{% url 'view_commune' %}">
            <i class="bi bi-circle"></i><span>Commune</span>
          </a>
        </li>
        <li>
          <a href="{% url 'view_zone' %}">
            <i class="bi bi-circle"></i><span>Zone</span>
          </a>
        </li>
        <li>
          <a href="{% url 'view_quartier' %}">
            <i class="bi bi-circle"></i><span>Quartier</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>AUTRES</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'view_profession' %}">
            <i class="bi bi-circle"></i><span>Profession</span>
          </a>
        </li>
      </ul>
    </li>

  </ul>

</aside>