{% load static %}
{% block content %}
<div class="container">
    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>404</h1>
      <h2>La page que vous recherchez n'existe pas</h2>
      <a class="btn btn-outline-primary" href="{% url 'dashboard' %}">Retour à l'accueil</a>
      <img src="{% load static 'app/img/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
      {% include 'app/partials/footer.html' %}
    </section>

  </div>
{% endblock %}