{% extends 'app/layouts/default.html' %}

{% block content %}
{% load user_tags %}
<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    {% if user|user_belongs_to_group:'chef_family' %}
                    <h5 class="card-title">AJOUTER UN MEMBRE DE FAMILLE</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Un parent ou un enfant de la famille</p>
                    {% endif %}
                    {% if user.is_superuser or user|user_belongs_to_group:'chef_quarter' %}
                    <h5 class="card-title">VOIR LES MENAGES</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Les ménages existants</p>
                    {% endif %}
                    {% if user|user_belongs_to_group:'chef_family' %}
                    <a href="{% url 'add_family_member' %}" class="btn btn-outline-primary mr-2"> <i
                            class="bi bi-save"></i> Nouveau membre</a>
                    <a href="{% url 'family_members_overview' %}" class="btn btn-outline-primary"> <i
                            class="bi- bi-eye"></i> Voir les membres de famille</a>
                    {% endif %}
                    {% if user.is_superuser or user|user_belongs_to_group:'chef_quarter' %}
                    <a href="{% url 'family_members_overview' %}" class="btn btn-outline-primary"> <i
                            class="bi- bi-eye"></i> Afficher les ménages</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if user|user_belongs_to_group:'chef_family' %}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">AJOUTER UN VISITEUR</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Un membre de la famille , un employer de maison ou un visiteur simple</p>

                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}